* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
}

.container {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(3px);
}

.content {
  position: relative;
  color: white;
  text-align: center;
  padding: 40px 20px;
  max-width: 450px;
  margin: auto;
}

h1 {
  font-size: 32px;
  margin-bottom: 15px;
}

.desc {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.accuracy {
  font-size: 18px;
  margin: 10px 0;
  font-weight: bold;
}

.timer {
  margin: 15px 0;
  font-size: 16px;
}

#countdown {
  color: red;
  font-weight: bold;
}

.join-btn {
  display: block;
  background: #e91e63;
  color: white;
  padding: 14px;
  border-radius: 30px;
  text-decoration: none;
  margin: 20px 0;
  font-weight: bold;
  font-size: 16px;
}

.join-btn:hover {
  background: #c2185b;
}

.trust {
  margin-top: 10px;
  font-weight: bold;
}

.footer {
  font-size: 12px;
  opacity: 0.8;
  margin-top: 15px;
}

.big-timer {
  margin: 25px 0;
}

.timer-text {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

.timer-number {
  font-size: 64px;
  font-weight: 900;
  color: #ee0707;
  text-shadow: 0 0 15px rgba(1, 0, 0, 0.8);
}
.content{
    color: yellow;
}